
<div class = "search">
    <div class =" categorySearch">
      <form nz-form [formGroup]="formSearch" (ngSubmit)="onSubmit()">
        <nz-form-item>
          <nz-form-label [nzSpan]="1.6">Категория</nz-form-label>
          <nz-form-control [nzSpan]="14" >
            <nz-tree-select style="width: 150px;"
              [nzNodes]="(category$ | async) || []"
              [(ngModel)]="category" 
              formControlName="categoryId"
            ></nz-tree-select>
          </nz-form-control> 
        </nz-form-item>  
      </form>
    </div>

    <div class = "productName">
      <input nz-input name="Name" id="Name" style="width: 700px; margin: 10px;" >
      <button nz-button nzType ="primary" type ="submit" value="search" (click)="onSubmit()">Поиск</button>  
    </div>
  </div>
  
  
  <div class = "list"  >  
      <div *ngFor = "let item of product |async" class="item"  >
        <button (click)="deleteProduct(item.id)" style="float: right;  color:brown">❌</button>
        <button style="float:right;" [routerLink]="['/editProducts', item.id]">✏️</button>

        <h1>{{item.name}}</h1> 
        <p>Описание: {{item.description}}</p> 
        <div class="photo">
          <img
          [src]="'data:image/png;base64,' + item.kodBase64" 
          />    
        <h2>Цена {{item.price |currency}}</h2> 

    </div>
    </div>

    
  