:host{
    margin-left: auto;
    margin-right: auto;
}

.search{
    margin: 0;
    display: flex;
    position: static;
    top: 0;
    padding: 24px;  
    flex-wrap: wrap;
 }
 .list{
    display: flex;
    margin: 10px;
    padding: 40px;
    gap: 50px;
    flex-wrap: wrap;
}

.photo{
    display: flex;
    width: 160px;
    height: 160px;
    padding-bottom: 0; 
    padding-left:40px;
    padding-bottom: 25px;
}

.item{
    width: 300;
    height: 300;
    gap: 40px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(to right, transparent, mistyrose);
}
