 <div>
  <div class = "list"  >  
    <div *ngFor="let item of itemCart" class="item"  >
      <button nz-button nzType="dashed" (click)="deleteFromCart(item.id)" style= "color:black">❌</button>

      <h1>{{item.name}}</h1> 
      <p>Описание: {{item.description}}</p> 
      
      <h2>Цена {{item.price |currency}}</h2> 
      <div class="photo">
        <img
        [src]="'data:image/png;base64,' + item.kodBase64" 
        />    
  </div>
</div>

<div>
  <button class = "buttonOrder" style= "color:black" [routerLink]="['/order']" >Оформить заказ</button>
</div>
